@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  background: url('../images/bg.webp') no-repeat;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
.ttl {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 2px #fff;
  font-size: 38px;
  font-weight: 900;
  margin-block: 50px;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card {
  width: calc(100dvw / 8);
  height: fit-content;
  border: 1px solid #fff;
  padding: 8px;
  &:nth-child(2n) {
    margin-top: 50px;
  }

  .productNumber {
    font-size: 18px;
    font-weight: 500;
    line-height: 200%; /* 24px */
    margin-top: 15px;
  }
  .studentName {
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 42.5px;
  }
}
.studentName.b {
  font-size: 12px;
  letter-spacing: -2.1px;
}
@media screen and (max-height: 767px) {
  body {
    background: url('../images/bg_sm.webp') no-repeat;
  }
  .ttl {
    font-size: 28px;
    margin-block: 25px;
  }
  .card {
    &:nth-child(2n) {
      margin-top: 40px;
    }
    .productNumber {
      font-size: 14px;
      font-weight: 500;
      line-height: 150%; /* 24px */
      margin-top: 15px;
    }
    .studentName {
      font-size: 15px;
      margin-top: 13px;
      margin-bottom: 35px;
    }
    .studentName.b {
      font-size: 12px;
      letter-spacing: -2.1px;
    }
  }
}
@media screen and (min-height: 768px) and (max-height: 1079px) {
  .studentName.b {
    font-size: 17px;
    letter-spacing: -2.1px;
  }
}
@media screen and (min-height: 1080px) {
  .ttl {
    font-size: 48px;
    margin-block: 65px;
  }
  .flex {
    gap: 30px;
  }
  .card {
    &:nth-child(2n) {
      margin-top: 40px;
    }
    .productNumber {
      font-size: 20px;
      font-weight: 500;
      line-height: 150%; /* 24px */
      margin-top: 15px;
    }
    .studentName {
      font-size: 22px;
      margin-top: 13px;
      margin-bottom: 45px;
    }
    .studentName.b {
      font-size: 17px;
      letter-spacing: -2.1px;
    }
  }
}
